@page
<div class="turn-order">
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
</div>
<canvas id="play" csrc="img/test.png"></canvas>

@section Scripts
{
    <script src="~/js/Canvas.js"></script>
}
