@page
<div class="search">
    <div class="input">
        <input class="form-control" placeholder="Plz Enter or select"/>
        <div class="input-icons">
            <span class="input-icon hide search-indicator fa fa-spinner fa-spin"></span>
            <span class="input-icon list-indicator fa fa-chevron-right"></span>
            <span class="input-icon delete-text fa fa-times"></span>
        </div>
    </div>
    <ul class="data">
        <li class="item indicator show"><span class="text">1</span><span class="indicator"></span></li>
        <li class="item indicator show"><span class="text">2</span><span class="indicator orange"></span></li>
        <li class="item indicator show"><span class="text">3</span><span class="indicator green"></span></li>
        <li class="item indicator show"><span class="text">4</span><span class="indicator red"></span></li>
    </ul>
</div>